<section class="support section">
  <div class="container support-inner">
    <p class="eyebrow">Help ons op weg</p>
    <h2>ELKE KILOMETER<br />TELT.</h2>
    <p>
      Kun je er niet bij zijn op één van onze events? Steun ons rechtstreeks via
      onderstaande knop
    </p>
    <a
      class="button button-light"
      href="https://steun.komoptegenkanker.be/team/170288168?name=Ploeg%20Positief&context=1000km"
      id="donate-link"
      target="_blank"
      >Steun onze ploeg →</a
    >
  </div>
</section>

<footer>
  <div class="container footer-inner">
    <div>
      <strong>Ploeg Positief</strong>
      <p>1000 km Kom op tegen Kanker · 2027</p>
    </div>
    <div class="footer-contact">
      <a href="mailto:stijn.panneels@telenet.be">Stijn.Panneels@telenet.be</a
      ><a
        href="https://www.facebook.com/profile.php?id=61593178900877"
        target="_blank"
        >Facebook</a
      >
    </div>
  </div>
</footer>
